	<head>
		<!-- META -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content=""/>
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="" />
		
		<!-- TÍTULO -->
		<title>Plataforma AK</title>

		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
		<link rel="stylesheet" href="css/site.css" />

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!-- <script src="http://areaaperta.com/nicescroll/js/jquery.nicescroll.min.js"></script> -->
		<script src="js/geral.js"></script>

		<!-- FAVICON -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" /> 
	</head>
<body>
	<!-- PAGINA MODAL MODELO -->
		<div class="pg pg-modal-modelo">
			<div class="row">
				<div class="col-sm-6">
					<!-- INFORMAÇÕES DA PAGINA -->
					<section class="infoPagina">
						<span class="fecharModal"><i class="far fa-times-circle"></i></span>
						<h6 class="nomeModelo">Fernanda Forekevicz</h6>
						<div class="sobreEla">
							<p>Olá, meu nome é Fernanda, sou modelo profissional á 3 anos.</p>
							<p>Atualmente moro em Boa Ventura de São Roque e blá blá blá blá</p>
							<p>Pelentesque at tellus vitae odio gravida iaculis eu sed eros. Vestibulum viverra nunc et cursus porta. Suspendisse sollicitudin dapibus ante nec placerat.</p>
						</div>
						<a href="#" class="linkModal">Entrar em contato com Fernanda</a>
					</section>
				</div>
				<div class="col-sm-6">
					<div class="imagensLink">
						<ul>
							<li><img src="img/dadosFernanda.jpg" alt="Portfolio"></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

</body>